[submodule "priv/www/contrib/dojo/dojo"]
	path = priv/www/contrib/dojo/dojo
	url = http://github.com/dojo/dojo.git
[submodule "priv/www/contrib/dojo/dojox"]
	path = priv/www/contrib/dojo/dojox
	url = http://github.com/dojo/dojox.git
[submodule "priv/www/contrib/dojo/dijit"]
	path = priv/www/contrib/dojo/dijit
	url = http://github.com/dojo/dijit.git
