# From the rake processes
ebin/*.beam
ebin/*.rel
Mnesia.*
MnesiaCore.*
debug_ebin/*
coverage/*
erl_crash.dump
.gen_leader*
*_manager_*@*
cpx_monitor_*@*
doc/*
key
key.pub
contrib/**/ebin/*
contrib/**/doc/*
contrib/mochiweb/_test

# unique config files
*.config
*.boot
*.script
www/dynamic/tv_config.js
www/dynamic/all.json

# from the logger
*.log

# Xcode
build/*
*.xcodeproj/*

# OS X
.DS_Store
profile

# Vim
*.swp
*.swo
