[submodule "contrib/gen_smtp"]
	path = contrib/gen_smtp
	url = git://github.com/Vagabond/gen_smtp.git
[submodule "contrib/gen_server_mock"]
	path = contrib/gen_server_mock
	url = git://github.com/lordnull/gen_server_mock.git
[submodule "contrib/errd"]
	path = contrib/errd
	url = git://github.com/Vagabond/errd.git
[submodule "contrib/gen_leader_revival"]
	path = contrib/gen_leader_revival
	url = git://github.com/Vagabond/gen_leader_revival.git
