{erl_opts, [{src_dirs, ["contrib/misc/src"]}]}.

{deps, [
	{protobuffs, "0.6.0", {git, "http://github.com/lordnull/erlang_protobuffs.git", "master"}},
	{errd, "0.1", {git, "https://github.com/Vagabond/errd.git", {tag, "8562fce3778318b0edda"}}},
	{gen_smtp, "0.1", {git, "https://github.com/Vagabond/gen_smtp.git", {tag, 
"0558786233ca152064770d3d6848e7ae3745f8a1"}}},
	{gen_leader, "1.0", {git, "https://github.com/Vagabond/gen_leader_revival.git", {tag, "6e563e111d7803c9e82a"}}},
	{mochiweb, "1.5.2", {git, "http://github.com/mochi/mochiweb.git", {tag, "1.5.2"}}},
	{gen_server_mock, "0.0.5", {git, "http://github.com/lordnull/gen_server_mock.git", {branch, "master"}}},
	{iconv, "1.0.1", {git, "https://github.com/Vagabond/erlang-iconv.git", {branch, "master"}}}
	]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.

{pre_hooks, [{compile, "./pre_compile.sh"},
	{'get-deps', "./pre_get-deps.sh"},
	{clean, "rm -rf OpenACD"}]}.
{post_hooks, [{compile, "./post_compile.sh"}]}.
