
{erl_opts, [{src_dirs, ["contrib/misc/src"]}]}.

{sub_dirs, ["rel"]}.

{deps, [
	{errd, "0.1", {git, "https://github.com/Vagabond/errd.git", "8562fce3778318b0edda"}},
	{gen_smtp, "0.1", {git, "https://github.com/Vagabond/gen_smtp.git", "dabc7fba12278dc0debb"}},
	{gen_leader, "1.0", {git, "https://github.com/Vagabond/gen_leader_revival.git", "6e563e111d7803c9e82a"}},
	{mochiweb, "1.3", {git, "http://github.com/mochi/mochiweb.git", "9396655c6f253863b6ce"}}
	]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.
