
{erl_opts, [{src_dirs, ["contrib/misc/src"]}]}.

{sub_dirs, ["rel"]}.

{deps, [
	{erlang_protobuffs, "0.1", {git, "http://github.com/lordnull/erlang_protobuffs.git", "master"}},
	{errd, "0.1", {git, "https://github.com/Vagabond/errd.git", {tag, "8562fce3778318b0edda"}}},
	{gen_smtp, "0.1", {git, "https://github.com/Vagabond/gen_smtp.git", {tag, "c2401839c87a414f8549"}}},
	{gen_leader, "1.0", {git, "https://github.com/Vagabond/gen_leader_revival.git", {tag, "6e563e111d7803c9e82a"}}},
	{mochiweb, "1.3", {git, "http://github.com/mochi/mochiweb.git", {tag, "9396655c6f253863b6ce"}}},
	{gen_server_mock, "0.0.5", {git, "http://github.com/lordnull/gen_server_mock.git", {branch, "master"}}}
	]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.

{compile_pre_script, "./pre_compile.sh"}.
{compile_post_script, "./post_compile.sh"}.
