body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div {
	overflow: hidden;
}

/*div span, span span {
	height = 100%;
}
*/
span {
	display: inline-block;
}

#callmetrics {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 25%;
	text-align: center;
	font-size: 50pt;
	overflow: hidden;
	border: 2px solid black;
}
#agentstatus {
	position: absolute;
	border: 2px solid black;
	left: 0;
	top: 25%;
	width: 70%;
	height: 45%;
	font-size: 90;
	overflow: hidden;
	text-align: center;
	background: black;
	color: white;
}
#historic {
	position: absolute;
	border: 2px solid #993300;
	background: #771100;
	width: 30%;
	height: 45%;
	left: 70%;
	top: 25%;
	font-size: 60px;
	overflow: hidden;
	color: white;
}

#histlabel {	
	position: absolute;
	top: 0;
	left: 0;
	width: 39%;
	height: 100%;
	text-align: right;
}

#historic .stat {
	position: absolute;
	top: 0;
	left: 41%;
	width: 59%;
	height: 99%;
	text-align: center;
	z-index: -1;	
}

#histlabel div, .stat div {
	position: absolute;
	left: 0;
	width: 100%;
	height: 20%;
}

#histlabel .title, .stat .title {
	top: 0;
	z-index: 99;
}

#histlabel .inbound, .stat .inbound {
	top: 20%;
}

#histlabel .outbound, .stat .outbound {
	top: 40%;
}

#histlabel .abandon, .stat .abandon {
	top: 60%;
}

#histlabel .percent, .stat .percent {
	top: 80%;
}

#histday {
	background: #666600;
}

#histhour {
	background: #27ab5d;
}

#histmid {
	background: #009999;
}

.callcount {
	margin: auto;	
	height: 50%;
}

.profilelabel div {
	background: transparent;
}

#qgroup1, #agroup1 .profilelabel {
	background: #8b303f;
}

#qgroup1, #agroup1 .profilelabel div {
	color: white;
}

#agroup1 .profilelabel {
	color: #C93030;
}

#qgroup2, #agroup2 .profilelabel {
	background: #2727a2;
}

#qgroup2, #agroup2 .profilelabel div {
	color: white;
}

#agroup2 .profilelabel {
	color: #3030C9;
}

#qgroup3, #agroup3 .profilelabel {
	background: #947e3d;
}

#qgroup3, #agroup3 .profilelabel div {
	color: white;
}

#agroup3 .profilelabel {
	color: #C9C930;
}

#qgroup4, #agroup4 .profilelabel {
	background: #248f4a;
}

#qgroup4, #agroup4 .profilelabel div {
	color: white;
}

#agroup4 .profilelabel {
	color: #C930C9;
}

#agroup1 {
	top: 20%;
}

#agroup2 {
	top: 40%;
}

#agroup3 {
	top: 60%;
}

#agroup4 {
	top: 80%;
}

.queuegroup {
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;
}

.queuegroup .holdtime {
	height: 49%;
	font-size: 90pt;
}

.agentprofile {
	position: absolute;
	left: 0;
	height: 20%;
	width: 100%;
}

.agentprofile div {
	position: absolute;
	top: 0;
	width: 20%;
	height: 100%;
	border: 2px solid green;
}

.agentprofile .profilelabel {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.total {
	left:0;
}
.available {
	left:20%;
}

.oncall {
	left:40%;
}

.released {
	left:60%;
}

.wrapup {
	left:80%;
}

#agentalerts {
	position: absolute;
	top: 70%;
	left: 0;
	width: 100%;
	height: 15%;
	font-size: 37pt;
	background: black;
}

#globalalerts {
	position: absolute;
	top: 85%;
	left: 0;
	width: 100%;
	height: 15%;
	font-size: 37pt;
	background: black;
}

#globalalerts .alertcount, #agentalerts .alertcount {
	position: absolute;
	top:0;
	left:0;
	width: 10%;
	height: 100%;
	font-size: 90px;
	background: yellow;
	text-align: center;
}
#globalalerts .alerttext, #agentalerts .alerttext {
	position: absolute;
	top:0;
	left: 10%;
	width: 90%;
	height: 100%;
	color: white;
	font-size: 70;
	z-index: -1;
}

.specialtext {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	color: white;
	display: none;
}

